@theme-color: #3883fa;

div.jsoneditor-search {
  background: white;
  border: 2px solid @theme-color;
  box-sizing: border-box;

  input {
    border: none;
    outline: none;
    height: 22px;
    line-height: 22px;
    padding: 2px;
  }
}