/* dark styling of the editor */
div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b;
}
div.jsoneditor-menu {
  background-color: #4b4b4b;
}
div.jsoneditor-tree-contents,
textarea.jsoneditor-text {
  background-color: #666666;
  color: #ffffff;
}

.jsoneditor-menu button.jsoneditor-undo:disabled {
  background-position: -24px -96px;
}
.jsoneditor-menu button.jsoneditor-redo:disabled {
  background-position: -48px -96px;
}

div.jsoneditor-property,
div.jsoneditor-value {
  color: #ffffff;
}

.jsoneditor-property:hover,
.jsoneditor-value:hover {
  background-color: #808080;
}

.jsoneditor-readonly:hover {
  background-color: transparent;
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
}

button.jsoneditor-button.jsoneditor-actionmenu {
  background-position: -50px -50px;
}

button.jsoneditor-button:hover,
button.jsoneditor-button:focus,
button.jsoneditor-button:active {
  background-color: #808080;
  outline: #808080 solid 1px;
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
  color: #acacac;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
div.jsoneditor-value.jsoneditor-string {
  color: #8bb54b;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
div.jsoneditor-value.jsoneditor-null {
  color: #3B8EEA;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}
