body, input, select {
  font-family: sans-serif;
  font-size: 11pt; }

body {
  height: 2000px; }

.demo .menu {
  margin: 20px 0; }
  .demo .menu button, .demo .menu label {
    margin-right: 10px; }

.demo .contents {
  height: 400px;
  width: 100%;
  max-width: 800px; }
