div.jsoneditor-statusbar {
  line-height: 16px;
  height: 17px;
  color: #1A1A1A;
  background-color: #e6e6e6;
  margin-top: -17px;
}

div.jsoneditor-statusbar:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #3883fa;  
  position: absolute;
  left: 0;
  margin-top: 1px;
  z-index: 999;
}

div.jsoneditor-statusbar > .jsoneditor-curserinfo-label {
  margin: 0 2px 0 4px;
}

div.jsoneditor-statusbar > .jsoneditor-curserinfo-val {
  margin-right: 4px;
}

div.jsoneditor-statusbar > .jsoneditor-curserinfo-count {
  margin-left: 4px;
}

div.jsoneditor-statusbar > span {
  font-size: 12px;
}