@use "variables";

.jsoneditor {
  .autocomplete {
    &.dropdown {
      position: absolute;
      background: variables.$jse-white;
      box-shadow: variables.$jse-box-shadow;
      border: 1px solid variables.$jse-bar-border;
      overflow-x: hidden;
      overflow-y: auto;
      cursor: default;
      margin: 0;
      padding: 5px;
      text-align: left;
      outline: 0;
      font-family: variables.$jse-font-mono;
      font-size: variables.$jse-font-size;
      .item {
        color: variables.$jse-content-color;
        &.hover {
          background-color: variables.$jse-light-bg;
        }
      }
    }
    &.hint {
      color: variables.$jse-date;
      top: 4px;
      left: 4px;
    }
  }
}
