@use "variables";

.jsoneditor-navigation-bar {
  width: 100%;
  height: 26px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid variables.$jse-bar-border;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: variables.$jse-readonly;
  background-color: variables.$jse-light-bg;
  overflow: hidden;

  font-family: variables.$jse-font;
  font-size: variables.$jse-font-size;
}
