body, html {
    font-family: arial, sans-serif;
    font-size: 11pt;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

span.header-light {
    color: gray;
}

#header {
    width: 100%;
    height: 40px;
    /* TODO
    overflow: hidden;
    */

    background: #4D4D4D url('img/header_background.png');
    color: white;
}

#logo {
    height: 32px;
    margin: 4px 10px;
    border: none;
}

#menu {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 11pt;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
}

#menu ul li {
    color: #e6e6e6;
    background: none;
    border: none;
    border-right: 1px solid #737373;
    height: 30px;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;

    text-decoration: none;
}

#menu ul li:first-child {
    border-left: 1px solid #737373;
}

#menu ul li:hover {
    color: white;
    background-color: #737373;
}

#menu ul li ul {
    display: none;
}

#menu ul li:hover > ul {
    display: block;
}

#menu ul li ul {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 999;

    background: #f5f5f5;
    border: 1px solid lightgray;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

#menu ul li ul li {
    color: #737373;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#menu ul li ul li:first-child {
    border-left: none;
}

#menu ul li ul li:hover {
    background-color: white;
    color: #737373;
}

#menu a {
    padding: 6px 10px;
    display: block;
    cursor: pointer;
}

#menu ul li ul li a {
    width: 80px;
}

#openMenuButton {
    font-size: 75%;
    margin-left: 2px;
}
#menu #open {
    cursor: default;
}

/* TODO: enable the menu with keys (when openMenuButton is active) */

#auto {
    width: 100%;
    height: 100%;

    margin: -40px 0 -24px 0;
    padding: 40px 0  24px 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
}

#contents {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#jsonformatter, #jsoneditor {
    float: left;
    height: 100%;
    width: 400px;

    padding: 15px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#splitter {
    float: left;
    height: 100%;
    cursor: col-resize;
}

#footer {
    width: 100%;
    height: 23px;
    font-size: 10pt;

    overflow: hidden;
    color: #BFBFBF;
    border-top: 1px solid lightgray;
    text-align: center;
    background-color: #F5F5F5;
}
#footer-inner {
    margin: 4px;
}

a.header {
    color: white;
    text-decoration: none;
}
a.footer, a.adInfo {
    color: #BFBFBF;
    text-decoration: none;
}
a.footer:hover, a.adInfo:hover {
    color: red;
    text-decoration: underline;
}

#ad {
    float: left;
    padding: 40px 0 15px 0;
    position: relative;
}

#adInfo {
    text-align: center;
    color: #BFBFBF;
    font-size: 10pt;
    background-color: #f5f5f5;
    line-height: 150%;

    position: absolute;
    left: 0;
    top: 15px;
    width: 160px;
    padding-bottom: 5px;
}

#chromeAppInfo {
    line-height: normal;
    padding: 0 5px 20px 5px;
}



div.adSpace {
    height: 15px;
}

a.adInfo {
    text-decoration: underline;
}

div.error, div.notification {
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);

    /* TODO: add some transition effect */
}
div.error {
    color: red;
    background-color: #FFC0CB;
    border: 1px solid red;
}
div.notification {
    color: #1a1a1a;
    background-color: #FFFFAB;
    border: 1px solid #e6d600;
}
pre.error {
    margin: 0 0 10px 0;
    white-space: pre-wrap;
    font-family: droid sans mono, monospace, courier new, courier, sans-serif;
    font-size: 10pt;
}
a.error {
    color: red;
    font-size: 8pt;
}

button.convert {
    cursor: default;
    padding: 2px;
}

div.convert-right, div.convert-left {
    width: 24px;
    height: 24px;
    margin: 0;
}

div.convert-right {
    background: url('lib/jsoneditor/img/jsoneditor-icons.png') -168px 0;
}

div.convert-left {
    background: url('lib/jsoneditor/img/jsoneditor-icons.png') -192px 0;
}
