.jsoneditor {
  border: 1px solid #3883fa;
  overflow: auto;
  height: 100%;
  min-height: 150px;
  padding: 2px 0;
}

.jsoneditor-node {
  /*border: 1px solid #555;*/
  font: 14px Arial;

  /* flexbox setup */
  display: inline-flex;
  flex-direction: row;
}

.jsoneditor-node > div {
  flex: 1 1 auto;
}

ul.jsoneditor-list {
  list-style-type: none;
  padding-left: 24px;
  margin: 0;
  font-size: 0;
}

/* no left padding for the root ul element */
.jsoneditor > ul.jsoneditor-list {
  padding-left: 2px;
}

.jsoneditor-field,
.jsoneditor-value,
.jsoneditor-readonly,
.jsoneditor-separator {
  flex: 1 1 auto;
  line-height: 20px;

  font-family: droid sans mono, consolas, monospace, courier new, courier, sans-serif;
  font-size: 10pt;
}

.jsoneditor-field,
.jsoneditor-value,
.jsoneditor-readonly {
  min-width: 24px;
  word-break: break-word;

  padding: 0 5px;

  color: #1A1A1A;
  outline: none;
}

.jsoneditor-button-container {
  font-size: 0;
}

.jsoneditor-field,
.jsoneditor-value {
  border-radius: 1px;
}

.jsoneditor-field:focus,
.jsoneditor-value:focus {
  box-shadow: 0 0 3px 1px #008fd5;
}

.jsoneditor-field:hover,
.jsoneditor-value:hover {
  background-color: #f5f5f5;
}

.jsoneditor-separator {
  color: #808080;
}

.jsoneditor-readonly {
  color: #808080;
}

.jsoneditor-readonly:focus,
.jsoneditor-readonly:hover {
  border-color: transparent;
  background-color: inherit;
}


.jsoneditor-value.jsoneditor-string {
  color: #008000;
}

.jsoneditor-value.jsoneditor-object,
.jsoneditor-value.jsoneditor-array {
  min-width: 16px;
  color: #808080;
}

.jsoneditor-value.jsoneditor-number {
  color: #ee422e;
}

.jsoneditor-value.jsoneditor-boolean {
  color: #ff8c00;
}

.jsoneditor-value.jsoneditor-null {
  color: #004ED0;
}

.jsoneditor-value.jsoneditor-invalid {
  color: #000000;
}

div.jsoneditor-value.jsoneditor-url {
  color: green;
  text-decoration: underline;
}

.jsoneditor-button-placeholder {
  width: 20px;
  padding: 0;
  margin: 0;

  line-height: 20px;
}

button.jsoneditor-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent url('img/jsoneditor-icons.svg');
}

button.jsoneditor-button:focus {
  /* TODO: nice outline for buttons with focus
  outline: #97B0F8 solid 2px;
  box-shadow: 0 0 8px #97B0F8;
  */
  background-color: #f5f5f5;
  outline: #e5e5e5 solid 1px;
}

/* FIXME: change icons from size 24x24 to 20x20 */

button.jsoneditor-button.jsoneditor-collapsed {
  background-position: -2px -50px;
}

button.jsoneditor-button.jsoneditor-expanded {
  background-position: -2px -74px;
}
