@import '../style.scss';

$theme-color: #3883fa;

div.jsoneditor-search {
  position: relative;
  background: $theme-color;
  font-family: $fontFamilyMenu;
  font-size: $fontSize;

  form.jsoneditor-search-box {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px 10px 10px;
    z-index: 1;
    max-width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.24);

    background-color: white;
    border: 2px solid $theme-color;
    border-radius: 3px;

    $search-icon-width: 28px;
    $search-icon-padding: 4px;

    div.jsoneditor-search-icon {
      position: absolute;
      width: $search-icon-width;
      height: $search-icon-width;
      color: $light-gray;
      font-size: 16px;
      padding: $search-icon-padding;
      line-height: $search-icon-width - 2 * $search-icon-padding;
      box-sizing: border-box;
    }

    input.jsoneditor-search-text {
      display: inline-block;
      position: relative;

      border: none;
      outline: none;
      width: 120px;
      height: 22px;
      line-height: 22px;
      padding: 2px 2px 2px $search-icon-width;
      background: transparent;
    }

    button {
      display: inline-block;
      position: relative;
      cursor: pointer;

      width: 20px;
      height: 100%;
      line-height: 28px;
      background: transparent;
      border: none;
      outline: none;
      color: $light-gray;

      font-family: arial, sans-serif;
      font-size: 16px;
      padding: 0;

      &:hover {
        color: $gray-icon;
      }

      &:last-child {
        margin-right: 4px;
      }
    }
  }

  div.jsoneditor-search-results {
    display: inline-block;
    margin-left: 5px;
    color: white;
  }
}
