@import "styles";

.jsoneditor {
	.search {
		input {
			height: auto;
			border: inherit;
			border: none;
			box-shadow: none;
		}
	}
	table {
		border-collapse: collapse;
		width: auto;
	}
}
.jsoneditor td,
.jsoneditor th {
	padding: 0;
	display: table-cell;
	text-align: left;
	vertical-align: inherit;
	border-radius: inherit;
}
