@import './style.scss';
@import './popover.scss';

// TODO: split this scss file into separate files per React component

$line-height: 20px;
$insert-area-height: 6px;

.jsoneditor {
  border: 1px solid $theme-color;
  width: 100%;
  height: 100%;

  display: inline-flex;
  flex-direction: column;

  line-height: normal;
}

.jsoneditor-contents {
  width: 100%;
  height: 100%;
  min-height: $contentsMinHeight;

  overflow: hidden;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}

.jsoneditor-tree-contents {
  padding: 2px 0;
  overflow: auto;
}

.jsoneditor-node {
  position: relative;

  font: 14px Arial;

  display: inline-flex;
  flex-direction: row;
}

.jsoneditor-node-end {
  display: flex;
  height: $line-height;

  .jsoneditor-button-container {
    //visibility: hidden; // FIXME

    &:hover {
      visibility: visible;
    }
  }
}

.jsoneditor-root > .jsoneditor-node-container > .jsoneditor-node-end {
  > .jsoneditor-button-container,
  > div.jsoneditor-insert {
    display: none;
  }
}

.jsoneditor-node > div {
  flex: 0 0 auto;
}

div.jsoneditor-list {
  list-style-type: none;
  border-left: 20px solid transparent;
  margin: 0;
  font-size: 0;
}

/* no left padding for the root div element */
.jsoneditor-contents > div.jsoneditor-list {
  border-left-width: 2px;
}

.jsoneditor-property,
.jsoneditor-value,
.jsoneditor-readonly,
.jsoneditor-delimiter {
  line-height: $line-height;

  font-family: $fontFamily;
  font-size: $fontSize;
}

.jsoneditor-property,
.jsoneditor-value,
.jsoneditor-readonly {
  min-width: 16px;
  word-break: normal;

  padding: 0 $input-padding;

  color: $black;
  outline: none;
}

.jsoneditor-readonly {
  min-width: auto;
}

.jsoneditor-button-container {
  font-size: 0;
  display: inline-block;
}

.jsoneditor-property,
.jsoneditor-value {
  border-radius: 1px;
  flex: 1 1 auto !important;

  p {
    margin: 0;
    padding: 0;
  }
}

.jsoneditor-property:focus,
.jsoneditor-value:focus {
  box-shadow: 0 0 3px 1px #008fd5;
  z-index: 1;
}

.jsoneditor-property:hover,
.jsoneditor-value:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.jsoneditor-mode-form {
  .jsoneditor-property:hover {
    background-color: inherit;
  }
}

.jsoneditor-mode-view {
  .jsoneditor-property:hover,
  .jsoneditor-value:hover {
    background-color: inherit;
  }
}


.jsoneditor-delimiter,
.jsoneditor-readonly {
  color: $gray;
  display: inline-block;
}

.jsoneditor-delimiter-start {
  padding-left: $input-padding;
}

.jsoneditor-delimiter-end {
  padding-left: $input-padding;
  border-left: $line-height solid transparent;

  &.jsoneditor-delimiter-collapsed {
    border-left: none;
  }
}

.jsoneditor-readonly:focus,
.jsoneditor-readonly:hover {
  border-color: transparent;
  background-color: inherit;
}

.jsoneditor-tag {
  color: white;
  background: $light-gray;
  border-radius: 2px;
  padding: 0 4px;
  margin-left: $input-padding;
  margin-top: 2px;
  height: 14px;
  line-height: 14px;
  font-size: 80%;
  cursor: pointer;
}


.jsoneditor-value.jsoneditor-string {
  color: #008000;
}

.jsoneditor-value.jsoneditor-object,
.jsoneditor-value.jsoneditor-array {
  min-width: 16px;
  color: $gray;
}

.jsoneditor-value.jsoneditor-number {
  color: #ee422e;
}

.jsoneditor-value.jsoneditor-boolean {
  color: #ff8c00;
}

.jsoneditor-value.jsoneditor-null {
  color: #004ED0;
}

.jsoneditor-value.jsoneditor-invalid {
  color: #000000;
}

div.jsoneditor-value.jsoneditor-url {
  color: green;
  text-decoration: underline;
}

div.jsoneditor-empty {
  border: 1px dotted lightgray;
  border-radius: 2px;
  padding: 0 $input-padding;
  line-height: 17px;
}

div.jsoneditor-empty::after,
div.jsoneditor-empty::after {
  pointer-events: none;
  color: lightgray;
  font-size: 8pt;
}

div.jsoneditor-property.jsoneditor-empty::after {
  content: 'prop';
}

div.jsoneditor-value.jsoneditor-empty::after {
  content: 'value';
}

.jsoneditor-highlight {
  background-color: yellow;
}

.jsoneditor-highlight:hover {
  background-color: #f0f000;
}

.jsoneditor-highlight-active {
  background-color: #ffd700;
}

.jsoneditor-highlight-active:hover {
  background-color: #f3cd00;
}

.jsoneditor-button-placeholder {
  width: 20px;
  padding: 0;
  margin: 0;

  line-height: 20px;
}

button.jsoneditor-button {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: $gray-icon;
  font-size: 16px;
}

button.jsoneditor-button:focus {
  /* TODO: nice outline for buttons with focus
  outline: #97B0F8 solid 2px;
  box-shadow: 0 0 8px #97B0F8;
  */
  background-color: #f5f5f5;
  outline: #e5e5e5 solid 1px;
}

/*********************************** Menu *************************************/

div.jsoneditor-menu-panel-right {
  float: right;
  max-width: 100%;
}

/******************************* Floating Menu **********************************/

div.jsoneditor-node-container {
  position: relative;
  //transition: background-color 100ms ease-in;

  &.jsoneditor-selected {
    .jsoneditor-node {
      background-color: $selectedColor;
    }

    .jsoneditor-delimiter-end {
      background-color: $selectedColor;
      border-left-color: $selectedColor;
    }

    .jsoneditor-list {
      border-left-color: $selectedColor;
    }
  }

  &.jsoneditor-selected-after {

    &.jsoneditor-node-expanded {
      .jsoneditor-node-end {
        background-color: $selectedColor;

        > .jsoneditor-delimiter-end {
          background-color: white;
        }
      }
    }

    &.jsoneditor-node-collapsed {
      background-color: $selectedColor;

      > .jsoneditor-node {
        background-color: white;
      }
    }
  }

  &.jsoneditor-selected-before-childs {

    > .jsoneditor-node > .jsoneditor-before-childs {
      background-color: $selectedColor;
      width: 40px; // FIXME: should use full remaining width
    }
  }

  &.jsoneditor-hover {
    > .jsoneditor-node > .jsoneditor-button-container,
    > .jsoneditor-node > .jsoneditor-button-placeholder {
      background-color: $hoverColor;
    }

    > .jsoneditor-list {
      border-left-color: $hoverColor;
    }

    > .jsoneditor-delimiter-end {
      //padding-left: $line-height + $input-padding + 2px;
      border-left-color: $hoverColor;
    }
  }

  div.jsoneditor-floating-menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 999;

    margin: 10px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.24);

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 35px;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: solid 10px $floating-menu-background;
      border-bottom: none;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }

    &.jsoneditor-floating-menu-bottom {
      bottom: auto;
      top: 100%;

      &:after {
        top: -10px;
        margin-left: -10px;
        border-top: none;
        border-bottom: solid 10px $floating-menu-background;
      }
    }

    button.jsoneditor-floating-menu-item {
      color: $floating-menu-color;
      background: $floating-menu-background;
      border: none;
      border-right: 1px solid lighten($floating-menu-background, 10%);
      padding: 10px;
      cursor: pointer;
      outline: none;

      &:focus,
      &:hover {
        background: lighten($floating-menu-background, 10%);
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: none;
      }
    }
  }
}

/*******************************  **********************************/

textarea.jsoneditor-text {
  width: 100%;
  height: 100%;
  min-height: $contentsMinHeight;

  margin: 0;
  box-sizing: border-box;
  outline-width: 0;
  border: none;
  background-color: #fff;
  resize: none;

  font-family: $fontFamily;
  font-size: $fontSize;
  color: $black;
}

div.jsoneditor-code {
  width: 100%;
  height: 100%;
  min-height: $contentsMinHeight;
}

/* JSON schema errors displayed at the bottom of the editor in mode text and code */

.jsoneditor-errors {
  width: 100%;
  background-color: #ffef8b;
  border-top: 1px solid #ffd700;

  table {
    border-collapse: collapse;

    font-family: $fontFamily;
    font-size: $fontSize;

    td {
      padding: 3px 6px;
      vertical-align: middle;

      code {
        display: block;
        white-space: pre-wrap;
      }
    }
  }
}


button.jsoneditor-schema-error {
  //user-select: none;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 4px;
  background: transparent;
  color: $warning-color;
  cursor: pointer;
}
