
$fontFamily: "dejavu sans mono", "droid sans mono", consolas, monaco, "lucida console", "courier new", courier, monospace, sans-serif;
$fontSize: 10pt;
$fontFamilyMenu: arial, "sans-serif";

$black: #1A1A1A;
$contentsMinHeight: 150px;
$theme-color: #3883fa;
$theme-color-light: lighten($theme-color, 5);
$floating-menu-background: #4d4d4d;
$floating-menu-color: #fff;
$selectedColor: #d3d3d3;
$warning-color: #FBB917;
$gray: #9d9d9d;
$gray-icon: $gray;
$light-gray: #c0c0c0;
$input-padding: 5px;
