
$fontFamily: "dejavu sans mono", "droid sans mono", consolas, monaco, "lucida console", "courier new", courier, monospace, sans-serif;
$fontSize: 10pt;
$fontFamilyMenu: arial, "sans-serif";

$black: #1A1A1A;
$contentsMinHeight: 150px;
$theme-color: #3883fa;
$theme-color-light: lighten($theme-color, 5);
$floating-menu-background: #4d4d4d;
$floating-menu-color: #fff;
$selected-color: #ffe665;
$highlight-color: #ffe665;
$highlight-hover-color: #f0f000;
$highlight-active-color: #ffd700;
$highlight-active-hover-color: #f3cd00;
$warning-color: #FBB917;
$error-background-color: #ffef8b;
$error-border-color: #ffd700;
$gray: #9d9d9d;
$gray-icon: $gray;
$light-gray: #c0c0c0;
$input-padding: 5px;
